appdirs==1.4.3
astroid==2.3.2
atomicwrites==1.3.0
attrs==19.3.0
beautifulsoup4==4.6.0
black==19.10b0
bleach==2.1.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Django==2.2.6
django-extensions==2.2.5
django-modelcluster==4.4
django-stubs==1.2.0
django-taggit==0.24.0
django-treebeard==4.3
djangorestframework==3.10.3
draftjs-exporter==2.1.7
html5lib==1.0.1
idna==2.8
importlib-metadata==0.23
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.1.1
mccabe==0.6.1
more-itertools==7.2.0
mypy==0.740
mypy-extensions==0.4.3
packaging==19.2
pathspec==0.6.0
Pillow==5.4.1
pkg-resources==0.0.0
pluggy==0.13.0
py==1.8.0
pylint==2.4.3
pylint-django==2.0.11
pylint-plugin-utils==0.6
pyparsing==2.4.2
pytest==5.2.2
pytest-django==3.6.0
pytz==2019.3
regex==2019.8.19
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.4.0
typing-extensions==3.7.4.1
Unidecode==1.1.1
urllib3==1.25.6
wagtail==2.6.3
wagtail-markdown==0.5
wagtail-metadata==3.0.0
wagtail-resume==0.0.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
Willow==1.1
wrapt==1.11.2
zipp==0.6.0
