{% load i18n %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailmarkdown %}
{% load wagtail_resume_extras %}
{% load i18n %}

{% if debug_i18n %}
{% include 'wagtail_resume/localization_dropdown.html' %}
{% endif %}

<!-- beautify ignore:start -->
<!-- We set bg_color within a style tag to only apply bg_color when having a min-width. Weasyprint does not support @media queries
     therefore setting a min-width to 1px ensures that the bg_color does not get applied when generating pdfs. -->
{% with page.background_color|default_if_none:"#343A40" as bg_color %}
<style>
    @media (min-width: 1px) {
        .container {
            background-color: {{ bg_color }};
        }
    }
</style>
{% endwith %}
<!-- beautify ignore:end -->

<body style="font-family:{% if page.font %} '{{ page.font|title }}',{% endif %} 'Roboto Condensed', sans-serif;">
    <div class="container">
        <div class="resume">
            <div class="personal-info">
                <div>
                    <h2 class="name">{{ page.full_name }}</h2>

                    {% if page.role %}
                    <h4 class="role">{{ page.role }}</h4>
                    {% endif %}

                    <div class="social-links">
                        {% for social_link in page.social_links %}
                        <div class="social-links">
                            <a class="social-link" href="{{ social_link.value.url }}">
                                {% if social_link.value.logo %}
                                {% image social_link.value.logo original %}
                                <span>{{ social_link.value.text }}</span>
                                {% else %}
                                <span class="margin-0">{{ social_link.value.text }}</span>
                                {% endif %}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    {% image page.photo original class="photo" %}
                </div>
            </div>

            <div>
                <h2 class="section-title"><i class="fas fa-info-circle mr-3"></i><span>{% trans "About" %}</span></h2>
                <p class="about">
                    {{ page.about | markdown }}
                </p>
            </div>

            {% for block in page.resume %}
            {{ block }}
            {% endfor %}

            {% if page.pdf_generation_visibility == "always" or user.is_authenticated and page.pdf_generation_visibility == "authenticated" %}
            <a class="pdf" href="{% url 'generate_resume_pdf' %}?page_id={{ page.id }}">{% trans "Get PDF" %}</a>
            {% endif %}
        </div>
    </div>
</body>
