body {
  margin: 0;
  color: #212121;
}

p {
  line-height: 1.4;
  font-size: 0.95rem
}

h2 {
  font-weight: 400;
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 400;
}

.role {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.name {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.container {
  width: 100% !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
}

.work-experience-heading, .contribution-title {
  font-size: 1.05rem;
}

.resume {
  box-shadow: 0px 5px 5px 0 rgb(159, 159, 159);
  margin: 0 auto;
  background: #fff;
  min-height: calc(100vh - 4rem);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.personal-info {
  margin-bottom: 0.1rem;
  margin-top: 0.3rem;
}

.personal-info > div {
  display: inline-block;
}

.personal-info > div:last-of-type {
  float: right;
}

.photo {
  margin-bottom: 3rem;
  margin-top: 1rem;
  border-radius: 50%;
  width: 250px;
}

.social-links img {
  margin-top: 0.4rem;
  width: 30px;
}

.social-links span {
  margin-left: 0.3rem;
  vertical-align: super;
}

.date {
  color: grey;
  font-size: 0.8rem;
}

.text {
  margin: 2rem 1rem;
}

.section-title {
  padding-bottom: 1rem;
  border-bottom: 1px solid #B0B0B0;
  align-items: center;
}

.section-title i {
  margin-right: 0.6rem;
}

.post-date {
  margin-top: 0.2rem;
}

.post-degree {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.contribution-title {
  margin-bottom: 0.2rem;
}

.contribution-description {
  margin: 0.8rem 0;
}

.section-title .fas, .section-title .fab {
  font-size: 26px;
}

.pdf {
  display: None;
}

@media (min-width: 768px) {

  .personal-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .resume {
    padding: 4rem 3rem;
    width: 80%;
  }

  .pdf {
    color: white;
    background: #2A3F76;
    border-radius: 8px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: .6rem 1.2rem;
    line-height: 25px;
    float: right;
  }
}

@media (min-width: 992px) {

  .resume {
    padding: 4rem 4rem;
    max-width: 950px;
    width: 60%;
  }

}


@media (max-width: 768px) {

  .section-title .fas, .section-title .fab {
    font-size: 20px;
  }

  .section-title i {
    margin-right: 0.4rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .resume {
    padding: 1.5rem;
  }

  .social-links img {
    margin-top: 0.4rem;
    width: 22px;
  }

  .photo {
    width: 45%;
    margin-bottom: 2rem;
  }
}
