body {
  color: #1e1e1e;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

.role {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.name {
  margin-bottom: 0.5rem;
}

.container {
  width: 100% !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
}

.resume {
  box-shadow: 0px 5px 5px 0 rgb(159, 159, 159);
  margin: 0 auto;
  padding: 1rem;
  background: #fff;
  min-height: calc(100vh - 4rem);
  max-width: 950px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.personal-info {
  margin-bottom: 0.1rem;
  margin-top: 0.3rem;
}

.photo {
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 25%;
}

.social-links img {
  margin-top: 0.4rem;
  width: 40px;
}

.social-links span {
  margin-left: 0.3rem;
  vertical-align: super;
}

.date {
  color: grey;
  font-size: 0.8rem;
}

.text {
  margin: 2rem 1rem;
}

.section-title {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 1.2rem;
  border-bottom: 1px solid #B0B0B0;
  align-items: center;
}

.post-date {
  margin-top: 0.2rem;
}

.contribution-title {
  margin-bottom: 0.2rem;
}

.contribution-description {
  margin: 0.8rem 0;
}

.section-title .fas, .section-title .fab {
  font-size: 48px;
}


@media (min-width: 992px) {

  .personal-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .resume {
    width: 60%;
    padding: 2rem 4rem;
  }

  .social-links img {
    margin-top: 0.4rem;
    width: 30px;
  }

  .section-title .fas, .section-title .fab {
    font-size: 26px;
  }

  .section-title {
    grid-gap: .6rem;
  }

  .photo {
    width: 20%;
  }
}
