body {
  margin: 0;
  color: #212121;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

h2 {
  font-weight: 600;
  font-size: 1.3rem;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
}

hr {
  border-color: #fdfcfc;
  border-width: 0.1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.small {
  font-size: 0.8rem;
}

.italic {
  font-style: italic;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.container {
  width: 100% !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
}

.resume {
  box-shadow: 0px 5px 5px 0 rgb(159, 159, 159);
  margin: 0 auto;
  background: #fff;
  min-height: calc(100vh - 4rem);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #4652f6;
  text-decoration: none;
  background-color: transparent;
}

.photo {
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  border-radius: 50%;
  width: 250px;
}

.social-links img {
  width: 1.5rem;
}

.social-links span {
  vertical-align: super;
}

.date {
  color: #5b5b55;
}

.fas,
.fab {
  font-size: 1.5rem;
}

.pdf {
  display: None;
}

@media (min-width: 768px) {
  .personal-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .resume {
    padding: 4rem 3rem;
    width: 80%;
  }

  .pdf {
    color: white;
    background: #2a3f76;
    border-radius: 8px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 0.6rem 1.2rem;
    line-height: 25px;
    float: right;
  }
}

@media (min-width: 992px) {
  .resume {
    padding: 4rem 4rem;
    max-width: 950px;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .resume {
    padding: 1.5rem;
  }

  .photo {
    width: 45%;
  }
}
