{% load wagtailmarkdown %}

<h2 class="section-title"><i class="{{ value.fa_icon }} mr-3"></i><span>{{ value.heading }}</span></h2>
{% for experience in value.experiences %}
<span class="work-experience-heading"><b>{{ experience.role }}</b> - <a href="{{ experience.url }}">{{ experience.company }}</a></span>
<a href="{{ experience.url }}">{{ role.experience }}</a>
<p class="date">
  {{ experience.from_date }} - {{ experience.to_date }}
</p>
<p>
  {{ experience.text | markdown }}
</p>
{% endfor %}
