{% load i18n %}
{% load wagtailmarkdown %}

<h2 class="mt-4 mb-0">
  {% if value.fa_icon %}<i class="{{ value.fa_icon }}"></i>{% endif %}
  <span>{{ value.heading }}</span>
</h2>
<hr />
{% for experience in value.experiences %}
  <h3 class="mb-1">
    {{ experience.role }} · <a href="{{ experience.url }}">{{ experience.company }}</a>
  </h3>
  {% if experience.location %}<p class="mt-0 mb-0">{{ experience.location }}</p>{% endif %}
  <p class="date mt-0">
    {{ experience.from_date }} -
    {% if experience.currently_working_here %}
      <b>{% trans "Present" %}</b>
    {% else %}
      {{ experience.to_date }}
    {% endif %}
  </p>
  <div class="mt-3">{{ experience.text | markdown }}</div>
  {% if not forloop.last %}<hr />{% endif %}
{% endfor %}
{% if value.maximum_experiences_displayed > 0 %}
  <h3 class="mt-4 italic">{{ value.maximum_experiences_user_text }}</h3>
{% endif %}
